In [1]:
#importing neccessary libraries

import os
import numpy as np
import pandas as pd
import sys, fitz
import re
import string

In [60]:
#dictionary with key terms
terms = {'Special Qualities':['black belt','capability analysis','control charts','doe','dmaic','fishbone',
                              'gage r&r', 'green belt','ishikawa','iso','kaizen','kpi','lean','metrics',
                              'pdsa','performance improvement','process improvement','quality',
                              'quality circles','quality tools','root cause','six sigma',
                              'stability analysis','statistical analysis','tqm'],      
        'Operations management':['automation','bottleneck','constraints','cycle time','efficiency','fmea',
                                 'machinery','maintenance','manufacture','line balancing','oee','operations',
                                 'operations research','optimization','overall equipment effectiveness',
                                 'pfmea','process','process mapping','production','resources','safety',
                                 'stoppage','value stream mapping','utilization'],
        'Supply chain':['abc analysis','apics','customer','customs','delivery','distribution','eoq','epq',
                        'fleet','forecast','inventory','logistic','materials','outsourcing','procurement',
                        'reorder point','rout','safety stock','scheduling','shipping','stock','suppliers',
                        'third party logistics','transport','transportation','traffic','supply chain',
                        'vendor','warehouse','wip','work in progress'],
        'Project management':['administration','agile','budget','cost','direction','feasibility analysis',
                              'finance','kanban','leader','leadership','management','milestones','planning',
                              'pmi','pmp','problem','project','risk','schedule','scrum','stakeholders'],
        'Data analytics':['analytics','api','aws','big data','business intelligence','clustering','code',
                          'coding','data','database','data mining','data science','deep learning','hadoop',
                          'hypothesis test','iot','internet','machine learning','modeling','nosql','nlp',
                          'predictive','programming','python','r','sql','tableau','text mining',
                          'visualuzation'],
        'Healthcare':['adverse events','care','clinic','cphq','ergonomics','healthcare',
                      'health care','health','hospital','human factors','medical','near misses',
                      'patient','reporting system']}

In [61]:
# Initializie score counters for each area
quality = 0
operations = 0
supplychain = 0
project = 0
data = 0
healthcare = 0

In [62]:
# Create an empty list where the scores will be stored
scores = []
#list of summaries of scores
summ_list = []
summ_dict = {}
#file names to be stored
f_names=[]

<h3>Scoring Algorithm</h3>

In [63]:
#reading all PDFs

for foldername, subfolders, files in os.walk(r'C:\Users\some_\Working\Resume\Docs'):        #wherever you have your PDFs
    for file in files:
        f_names.append(file)
        doc = fitz.open(r'C:\Users\some_\Working\Resume\Docs\{0}'.format(file))
        text = ""
        for page in doc:
            text = text + str(page.getText())
            tx = " ".join(text.split('\n'))
            # Convert all strings to lowercase
            tx = tx.lower()
    
            # Remove numbers
            tx = re.sub(r'\d+','',tx)

            # Remove punctuation
            tx = tx.translate(str.maketrans('','',string.punctuation))
    
        # Obtain the scores for each area
        for area in terms.keys():
        
            if area == 'Quality/Six Sigma':
                for word in terms[area]:
                    if word in tx:
                        quality +=1
                scores.append(quality)
        
            elif area == 'Operations management':
                for word in terms[area]:
                    if word in tx:
                        operations +=1
                scores.append(operations)
        
            elif area == 'Supply chain':
                for word in terms[area]:
                    if word in tx:
                        supplychain +=1
                scores.append(supplychain)
        
            elif area == 'Project management':
                for word in terms[area]:
                    if word in tx:
                        project +=1
                scores.append(project)
        
            elif area == 'Data analytics':
                for word in terms[area]:
                    if word in tx:
                        data +=1
                scores.append(data)
        
            else:
                for word in terms[area]:
                    if word in tx:
                        healthcare +=1
                scores.append(healthcare)
        
        #converting all scores to a dictionary 
        summary = pd.DataFrame(scores,index=terms.keys(),columns=['score']).sort_values(by='score',ascending=False)
        summ = summary.to_dict()
        summ_list.append(summ)
        
        scores=[]

In [64]:
#Storing Individual scores(dictionaries) along with parameters in a list
final_score =[]
for i in range(len(summ_list)):
    x=summ_list[i]['score']
    final_score.append(x)

In [65]:
t_dict = {'File Name': f_names,'Score' : final_score}

t_data = pd.DataFrame.from_dict(t_dict)                         #storing them in a DataFrame
t_data.index = np.arange(1, len(t_data)+1)                      #to start index from 1 

t_data

,File Name,Score
1,Alice Clark CV.pdf,"{'Data analytics': 9, 'Project management': 2,..."
2,AshlyLauResume.pdf,"{'Data analytics': 17, 'Project management': 5..."
3,bhattres.pdf,"{'Data analytics': 28, 'Project management': 1..."
4,chiakang.pdf,"{'Data analytics': 39, 'Project management': 1..."
5,Jacky-Smith-Resume-Project-Manager.pdf,"{'Data analytics': 41, 'Project management': 2..."
6,Smith Resume.pdf,"{'Data analytics': 51, 'Project management': 2..."
7,thomasfrank.pdf,"{'Data analytics': 54, 'Project management': 3..."
8,Xinni_Chng.pdf,"{'Data analytics': 57, 'Project management': 3..."

<h3>Ideas to extract info for Ranking Algo</h3>

In [8]:
t_data.loc[5]

File Name               Jacky-Smith-Resume-Project-Manager.pdf
Score        {'Data analytics': 41, 'Project management': 2...
Name: 5, dtype: object

In [9]:
t_data.loc[5]['Score']

{'Data analytics': 41,
 'Project management': 22,
 'Supply chain': 9,
 'Operations management': 5,
 'Special Qualities': 4,
 'Healthcare': 4}

In [10]:
t_data.loc[5]['Score']['Data analytics']

41

<h3>Ranking Algorithm</h3>

In [108]:
#taking input from the user
def choose():
    print("Choose most relevant category acc to the Job Profile:")
    print()
    y=1
    for i in list(terms.keys()):
        print(y,i)
        y = y +1
    paramin()

In [109]:

def paramin():

    try:
        param = int(input("Enter number corresponding to choice: "))

        if param == 1:
            att = 'Special Qualities'
        elif param == 2:
            att = 'Operations management'
        elif param == 3:
            att = 'Supply chain'
        elif param == 4:
            att = 'Project management'
        elif param == 5:
            att = 'Data analytics'
        elif param == 6:
            att = 'Healthcare'
        else:
            print()
            print('******************************')
            print("Wrong Input")
            choose()

    except:
        print()
        print('******************************')
        print("Wrong Input")
        choose()
    
    return att

In [111]:
att

'Data analytics'

In [110]:
choose()

Choose most relevant category acc to the Job Profile:

1 Special Qualities
2 Operations management
3 Supply chain
4 Project management
5 Data analytics
6 Healthcare
Enter number corresponding to choice: 2

In [82]:
tdc = t_data.copy()

In [83]:
for i in range(1,len(tdc['Score'])+1):
    a= tdc.loc[i]['Score'][att]
    b= a *2
    atry=tdc.loc[i]['Score']
    atry[att] =b

In [84]:
total = 0
total_list =[]
for j in range(1,len(tdc['Score'])+1):
    a= tdc.loc[j]['Score']
    for k in list(a.values()):
        total = total + k
    #print(j,total)
    total_list.append(total)
    total =0
    
tdc['Total'] = total_list
tdc

,File Name,Score,Total
1,Alice Clark CV.pdf,"{'Data analytics': 18, 'Project management': 2...",22
2,AshlyLauResume.pdf,"{'Data analytics': 34, 'Project management': 5...",45
3,bhattres.pdf,"{'Data analytics': 56, 'Project management': 1...",81
4,chiakang.pdf,"{'Data analytics': 78, 'Project management': 1...",109
5,Jacky-Smith-Resume-Project-Manager.pdf,"{'Data analytics': 82, 'Project management': 2...",126
6,Smith Resume.pdf,"{'Data analytics': 102, 'Project management': ...",158
7,thomasfrank.pdf,"{'Data analytics': 108, 'Project management': ...",172
8,Xinni_Chng.pdf,"{'Data analytics': 114, 'Project management': ...",183

In [105]:
tdc.sort_values(by=['Total'],ascending =False)

,File Name,Score,Total
8,Xinni_Chng.pdf,"{'Data analytics': 114, 'Project management': ...",183
7,thomasfrank.pdf,"{'Data analytics': 108, 'Project management': ...",172
6,Smith Resume.pdf,"{'Data analytics': 102, 'Project management': ...",158
5,Jacky-Smith-Resume-Project-Manager.pdf,"{'Data analytics': 82, 'Project management': 2...",126
4,chiakang.pdf,"{'Data analytics': 78, 'Project management': 1...",109
3,bhattres.pdf,"{'Data analytics': 56, 'Project management': 1...",81
2,AshlyLauResume.pdf,"{'Data analytics': 34, 'Project management': 5...",45
1,Alice Clark CV.pdf,"{'Data analytics': 18, 'Project management': 2...",22

<h3>Displaying the results</h3>

In [106]:
tdc.sort_values(by=['Total'],ascending =False)[:3]

          File Name                                              Score  Total
8    Xinni_Chng.pdf  {'Data analytics': 114, 'Project management': ...    183
7   thomasfrank.pdf  {'Data analytics': 108, 'Project management': ...    172
6  Smith Resume.pdf  {'Data analytics': 102, 'Project management': ...    158