In [11]:
#importing neccessary libraries

import os
import numpy as np
import pandas as pd
import sys, fitz
import re
import string

In [12]:
#dictionary with key terms
terms = {'Special Qualities':['black belt','capability analysis','control charts','doe','dmaic','fishbone',
                              'gage r&r', 'green belt','ishikawa','iso','kaizen','kpi','lean','metrics',
                              'pdsa','performance improvement','process improvement','quality',
                              'quality circles','quality tools','root cause','six sigma',
                              'stability analysis','statistical analysis','tqm'],      
        'Operations management':['automation','bottleneck','constraints','cycle time','efficiency','fmea',
                                 'machinery','maintenance','manufacture','line balancing','oee','operations',
                                 'operations research','optimization','overall equipment effectiveness',
                                 'pfmea','process','process mapping','production','resources','safety',
                                 'stoppage','value stream mapping','utilization'],
        'Supply chain':['abc analysis','apics','customer','customs','delivery','distribution','eoq','epq',
                        'fleet','forecast','inventory','logistic','materials','outsourcing','procurement',
                        'reorder point','rout','safety stock','scheduling','shipping','stock','suppliers',
                        'third party logistics','transport','transportation','traffic','supply chain',
                        'vendor','warehouse','wip','work in progress'],
        'Project management':['administration','agile','budget','cost','direction','feasibility analysis',
                              'finance','kanban','leader','leadership','management','milestones','planning',
                              'pmi','pmp','problem','project','risk','schedule','scrum','stakeholders'],
        'Data analytics':['analytics','api','aws','big data','business intelligence','clustering','code',
                          'coding','data','database','data mining','data science','deep learning','hadoop',
                          'hypothesis test','iot','internet','machine learning','modeling','nosql','nlp',
                          'predictive','programming','python','r','sql','tableau','text mining',
                          'visualuzation'],
        'Healthcare':['adverse events','care','clinic','cphq','ergonomics','healthcare',
                      'health care','health','hospital','human factors','medical','near misses',
                      'patient','reporting system']}

In [13]:
# Initializie score counters for each area
quality = 0
operations = 0
supplychain = 0
project = 0
data = 0
healthcare = 0

In [14]:
# Create an empty list where the scores will be stored
scores = []
#list of summaries of scores
summ_list = []
summ_dict = {}
#file names to be stored
f_names=[]

<h3>Scoring Algorithm</h3>

In [15]:
#reading all PDFs

for foldername, subfolders, files in os.walk(r'C:\Users\some_\Working\Resume\Docs'):        #wherever you have your PDFs
    for file in files:
        f_names.append(file)
        doc = fitz.open(r'C:\Users\some_\Working\Resume\Docs\{0}'.format(file))
        text = ""
        for page in doc:
            text = text + str(page.getText())
            tx = " ".join(text.split('\n'))
            # Convert all strings to lowercase
            tx = tx.lower()
    
            # Remove numbers
            tx = re.sub(r'\d+','',tx)

            # Remove punctuation
            tx = tx.translate(str.maketrans('','',string.punctuation))
    
        # Obtain the scores for each area
        for area in terms.keys():
        
            if area == 'Quality/Six Sigma':
                for word in terms[area]:
                    if word in tx:
                        quality +=1
                scores.append(quality)
        
            elif area == 'Operations management':
                for word in terms[area]:
                    if word in tx:
                        operations +=1
                scores.append(operations)
        
            elif area == 'Supply chain':
                for word in terms[area]:
                    if word in tx:
                        supplychain +=1
                scores.append(supplychain)
        
            elif area == 'Project management':
                for word in terms[area]:
                    if word in tx:
                        project +=1
                scores.append(project)
        
            elif area == 'Data analytics':
                for word in terms[area]:
                    if word in tx:
                        data +=1
                scores.append(data)
        
            else:
                for word in terms[area]:
                    if word in tx:
                        healthcare +=1
                scores.append(healthcare)
        
        #converting all scores to a dictionary 
        summary = pd.DataFrame(scores,index=terms.keys(),columns=['score']).sort_values(by='score',ascending=False)
        summ = summary.to_dict()
        summ_list.append(summ)
        
        scores=[]

In [16]:
#Storing Individual scores(dictionaries) along with parameters in a list
final_score =[]
for i in range(len(summ_list)):
    x=summ_list[i]['score']
    final_score.append(x)

In [17]:
t_dict = {'File Name': f_names,'Score' : final_score}

t_data = pd.DataFrame.from_dict(t_dict)                         #storing them in a DataFrame
t_data.index = np.arange(1, len(t_data)+1)                      #to start index from 1 

t_data

,File Name,Score
1,Alice Clark CV.pdf,"{'Data analytics': 9, 'Project management': 2,..."
2,AshlyLauResume.pdf,"{'Data analytics': 17, 'Project management': 5..."
3,bhattres.pdf,"{'Data analytics': 28, 'Project management': 1..."
4,chiakang.pdf,"{'Data analytics': 39, 'Project management': 1..."
5,Jacky-Smith-Resume-Project-Manager.pdf,"{'Data analytics': 41, 'Project management': 2..."
6,Smith Resume.pdf,"{'Data analytics': 51, 'Project management': 2..."
7,thomasfrank.pdf,"{'Data analytics': 54, 'Project management': 3..."
8,Xinni_Chng.pdf,"{'Data analytics': 57, 'Project management': 3..."

<h3>Methods to extract info for Ranking Algo</h3>

In [18]:
t_data.loc[5]

File Name               Jacky-Smith-Resume-Project-Manager.pdf
Score        {'Data analytics': 41, 'Project management': 2...
Name: 5, dtype: object

In [19]:
t_data.loc[5]['Score']

{'Data analytics': 41,
 'Project management': 22,
 'Supply chain': 9,
 'Operations management': 5,
 'Special Qualities': 4,
 'Healthcare': 4}

In [20]:
t_data.loc[5]['Score']['Data analytics']

41

<h3>Ranking Algorithm</h3>

In [36]:
print("Choose most relevant category acc to the Job Profile:")
print()

y=1
for i in list(terms.keys()):
    print(y,i)
    y = y +1

param = input("Enter number corresponding to choice: ")

try:
    if int(param) == 1:
        att = 'Special Qualities'
    elif int(param) == 2:
        att = 'Operations management'
    elif int(param) == 3:
        att = 'Supply chain'
    elif int(param) == 4:
        att = 'Project management'
    elif int(param) == 5:
        att = 'Data analytics'
    elif int(param) == 6:
        att = 'Healthcare'
    else:
        print()
        print('******************************')
        print("Wrong Input")
        att = 'wrong'
except:
    print("Error")

Choose most relevant category acc to the Job Profile:

1 Special Qualities
2 Operations management
3 Supply chain
4 Project management
5 Data analytics
6 Healthcare
Enter number corresponding to choice: 1

In [37]:
print("Choose 2nd most relevant category acc to the Job Profile:")
print()

y=1
for i in list(terms.keys()):
    print(y,i)
    y = y +1

param = input("Enter number corresponding to choice: ")

try:
    if int(param) == 1:
        btt = 'Special Qualities'
    elif int(param) == 2:
        btt = 'Operations management'
    elif int(param) == 3:
        btt = 'Supply chain'
    elif int(param) == 4:
        btt = 'Project management'
    elif int(param) == 5:
        btt = 'Data analytics'
    elif int(param) == 6:
        btt = 'Healthcare'
    else:
        print()
        print('******************************')
        print("Wrong Input")
except:
    print("Error")

Choose 2nd most relevant category acc to the Job Profile:

1 Special Qualities
2 Operations management
3 Supply chain
4 Project management
5 Data analytics
6 Healthcare
Enter number corresponding to choice: 2

In [38]:
print("Choose 3rd most relevant category acc to the Job Profile:")
print()

y=1
for i in list(terms.keys()):
    print(y,i)
    y = y +1

param = input("Enter number corresponding to choice: ")

try:
    if int(param) == 1:
        ctt = 'Special Qualities'
    elif int(param) == 2:
        ctt = 'Operations management'
    elif int(param) == 3:
        ctt = 'Supply chain'
    elif int(param) == 4:
        ctt = 'Project management'
    elif int(param) == 5:
        ctt = 'Data analytics'
    elif int(param) == 6:
        ctt = 'Healthcare'
    else:
        print()
        print('******************************')
        print("Wrong Input")
except:
    print("Error")

Choose 3rd most relevant category acc to the Job Profile:

1 Special Qualities
2 Operations management
3 Supply chain
4 Project management
5 Data analytics
6 Healthcare
Enter number corresponding to choice: 3

In [41]:
ctt

'Supply chain'

In [42]:
tdc = t_data.copy()

In [43]:
multi = [2,1.5,1.2]
for i in range(1,len(tdc['Score'])+1):
    a= tdc.loc[i]['Score'][att]
    newa= a * multi[0]
    b= tdc.loc[i]['Score'][btt]
    newb= b * multi[1]
    c= tdc.loc[i]['Score'][ctt]
    newc= c * multi[2]
    atry=tdc.loc[i]['Score']
    atry[att] =newa
    atry[btt] =newb
    atry[ctt] =newc

In [44]:
total = 0
total_list =[]
for j in range(1,len(tdc['Score'])+1):
    a= tdc.loc[j]['Score']
    for k in list(a.values()):
        total = total + k
    #print(j,total)
    total_list.append(total)
    total =0
    
tdc['Total'] = total_list
tdc

,File Name,Score,Total
1,Alice Clark CV.pdf,"{'Data analytics': 9, 'Project management': 2,...",13.7
2,AshlyLauResume.pdf,"{'Data analytics': 17, 'Project management': 5...",30.1
3,bhattres.pdf,"{'Data analytics': 28, 'Project management': 1...",57.9
4,chiakang.pdf,"{'Data analytics': 39, 'Project management': 1...",76.4
5,Jacky-Smith-Resume-Project-Manager.pdf,"{'Data analytics': 41, 'Project management': 2...",93.3
6,Smith Resume.pdf,"{'Data analytics': 51, 'Project management': 2...",117.6
7,thomasfrank.pdf,"{'Data analytics': 54, 'Project management': 3...",130.6
8,Xinni_Chng.pdf,"{'Data analytics': 57, 'Project management': 3...",140.1

In [45]:
tdc.sort_values(by=['Total'],ascending =False)

,File Name,Score,Total
8,Xinni_Chng.pdf,"{'Data analytics': 57, 'Project management': 3...",140.1
7,thomasfrank.pdf,"{'Data analytics': 54, 'Project management': 3...",130.6
6,Smith Resume.pdf,"{'Data analytics': 51, 'Project management': 2...",117.6
5,Jacky-Smith-Resume-Project-Manager.pdf,"{'Data analytics': 41, 'Project management': 2...",93.3
4,chiakang.pdf,"{'Data analytics': 39, 'Project management': 1...",76.4
3,bhattres.pdf,"{'Data analytics': 28, 'Project management': 1...",57.9
2,AshlyLauResume.pdf,"{'Data analytics': 17, 'Project management': 5...",30.1
1,Alice Clark CV.pdf,"{'Data analytics': 9, 'Project management': 2,...",13.7

<h3>Displaying the results</h3>

In [46]:
tdc.sort_values(by=['Total'],ascending =False)[:3]

          File Name                                              Score  Total
8    Xinni_Chng.pdf  {'Data analytics': 57, 'Project management': 3...  140.1
7   thomasfrank.pdf  {'Data analytics': 54, 'Project management': 3...  130.6
6  Smith Resume.pdf  {'Data analytics': 51, 'Project management': 2...  117.6