In [4]:
import os
import numpy as np
import pandas as pd
!pip install pymupdf
import sys, fitz
import re
import string

Requirement already satisfied: pymupdf in c:\users\bhurv\anaconda3\lib\site-packages (1.18.9)

In [5]:
# Create dictionary with industrial and system engineering key terms by area
terms = {'Quality/Six Sigma':['black belt','capability analysis','control charts','doe','dmaic','fishbone',
                              'gage r&r', 'green belt','ishikawa','iso','kaizen','kpi','lean','metrics',
                              'pdsa','performance improvement','process improvement','quality',
                              'quality circles','quality tools','root cause','six sigma',
                              'stability analysis','statistical analysis','tqm'],      
        'Operations management':['automation','bottleneck','constraints','cycle time','efficiency','fmea',
                                 'machinery','maintenance','manufacture','line balancing','oee','operations',
                                 'operations research','optimization','overall equipment effectiveness',
                                 'pfmea','process','process mapping','production','resources','safety',
                                 'stoppage','value stream mapping','utilization'],
        'Supply chain':['abc analysis','apics','customer','customs','delivery','distribution','eoq','epq',
                        'fleet','forecast','inventory','logistic','materials','outsourcing','procurement',
                        'reorder point','rout','safety stock','scheduling','shipping','stock','suppliers',
                        'third party logistics','transport','transportation','traffic','supply chain',
                        'vendor','warehouse','wip','work in progress'],
        'Project management':['administration','agile','budget','cost','direction','feasibility analysis',
                              'finance','kanban','leader','leadership','management','milestones','planning',
                              'pmi','pmp','problem','project','risk','schedule','scrum','stakeholders'],
        'Data analytics':['analytics','api','aws','big data','business intelligence','clustering','code',
                          'coding','data','database','data mining','data science','deep learning','hadoop',
                          'hypothesis test','iot','internet','machine learning','modeling','nosql','nlp',
                          'predictive','programming','python','r','sql','tableau','text mining',
                          'visualuzation'],
        'Healthcare':['adverse events','care','clinic','cphq','ergonomics','healthcare',
                      'health care','health','hospital','human factors','medical','near misses',
                      'patient','reporting system']}

In [6]:
# Initializie score counters for each area
quality = 0
operations = 0
supplychain = 0
project = 0
data = 0
healthcare = 0

In [9]:
# Create an empty list where the scores will be stored
scores = []
#list of summaries of scores
summ_list = []
summ_dict = {}
#file names to be stored
f_names=[]

for foldername, subfolders, files in os.walk(r'D:\Resume Project\Samples'):        #wherever you have your PDFs
    for file in files:
        f_names.append(file)
        doc = fitz.open(r'D:\Resume Project\Samples\{0}'.format(file))
        text = ""
        for page in doc:
            text = text + str(page.getText())
            tx = " ".join(text.split('\n'))
            # Convert all strings to lowercase
            tx = tx.lower()
    
            # Remove numbers
            tx = re.sub(r'\d+','',tx)

            # Remove punctuation
            tx = tx.translate(str.maketrans('','',string.punctuation))
    
        # Obtain the scores for each area
        for area in terms.keys():
        
            if area == 'Quality/Six Sigma':
                for word in terms[area]:
                    if word in tx:
                        quality +=1
                scores.append(quality)
        
            elif area == 'Operations management':
                for word in terms[area]:
                    if word in tx:
                        operations +=1
                scores.append(operations)
        
            elif area == 'Supply chain':
                for word in terms[area]:
                    if word in tx:
                        supplychain +=1
                scores.append(supplychain)
        
            elif area == 'Project management':
                for word in terms[area]:
                    if word in tx:
                        project +=1
                scores.append(project)
        
            elif area == 'Data analytics':
                for word in terms[area]:
                    if word in tx:
                        data +=1
                scores.append(data)
        
            else:
                for word in terms[area]:
                    if word in tx:
                        healthcare +=1
                scores.append(healthcare)
        
        summary = pd.DataFrame(scores,index=terms.keys(),columns=['score']).sort_values(by='score',ascending=False)
        summ = summary.to_dict()
        summ_list.append(summ)
        
        scores=[]

In [10]:
#Storing Individual scores(dictionaries) along with parameters in a list
final_score =[]
for i in range(len(summ_list)):
    x=summ_list[i]['score']
    final_score.append(x)

In [11]:
t_dict = {'File Name': f_names,'Score' : final_score}

t_data = pd.DataFrame.from_dict(t_dict)                         #storing them in a DataFrame
t_data.index = np.arange(1, len(t_data)+1)                      #to start index from 1 

t_data

,File Name,Score
1,Alice_Clark_CV.pdf,"{'Data analytics': 39, 'Project management': 2..."
2,AshlyLauResume.pdf,"{'Data analytics': 47, 'Project management': 2..."
3,bhattres.pdf,"{'Data analytics': 58, 'Project management': 3..."
4,Jacky-Smith-Resume-Project-Manager.pdf,"{'Data analytics': 60, 'Project management': 3..."
5,Smith_Resume.pdf,"{'Data analytics': 70, 'Project management': 4..."
6,thomasfrank.pdf,"{'Data analytics': 73, 'Project management': 4..."
7,Xinni_Chng.pdf,"{'Data analytics': 76, 'Project management': 4..."

<h3> Ranking Algo</h3>

In [12]:
#Fetch wordcount for each resume
t_data ['word_count'] = t_data ['Score'].apply(lambda x: len(str(x).split(" ")))
t_data [['Score','word_count']].head()

                                               Score  word_count
1  {'Data analytics': 39, 'Project management': 2...          17
2  {'Data analytics': 47, 'Project management': 2...          17
3  {'Data analytics': 58, 'Project management': 3...          17
4  {'Data analytics': 60, 'Project management': 3...          17
5  {'Data analytics': 70, 'Project management': 4...          17

In [18]:
t_data.values

array([['Alice_Clark_CV.pdf',
        {'Data analytics': 39, 'Project management': 21, 'Supply chain': 10, 'Operations management': 5, 'Quality/Six Sigma': 3, 'Healthcare': 0},
        17],
       ['AshlyLauResume.pdf',
        {'Data analytics': 47, 'Project management': 24, 'Supply chain': 12, 'Operations management': 5, 'Quality/Six Sigma': 4, 'Healthcare': 0},
        17],
       ['bhattres.pdf',
        {'Data analytics': 58, 'Project management': 30, 'Supply chain': 16, 'Operations management': 7, 'Quality/Six Sigma': 5, 'Healthcare': 0},
        17],
       ['Jacky-Smith-Resume-Project-Manager.pdf',
        {'Data analytics': 60, 'Project management': 38, 'Supply chain': 18, 'Operations management': 8, 'Quality/Six Sigma': 6, 'Healthcare': 0},
        17],
       ['Smith_Resume.pdf',
        {'Data analytics': 70, 'Project management': 43, 'Supply chain': 22, 'Operations management': 9, 'Quality/Six Sigma': 7, 'Healthcare': 0},
        17],
       ['thomasfrank.pdf',
        {'Data analytics': 73, 'Project management': 47, 'Supply chain': 22, 'Operations management': 11, 'Quality/Six Sigma': 8, 'Healthcare': 0},
        17],
       ['Xinni_Chng.pdf',
        {'Data analytics': 76, 'Project management': 49, 'Supply chain': 22, 'Operations management': 12, 'Quality/Six Sigma': 9, 'Healthcare': 0},
        17]], dtype=object)

In [20]:
t_data

,File Name,Score,word_count
1,Alice_Clark_CV.pdf,"{'Data analytics': 39, 'Project management': 2...",17
2,AshlyLauResume.pdf,"{'Data analytics': 47, 'Project management': 2...",17
3,bhattres.pdf,"{'Data analytics': 58, 'Project management': 3...",17
4,Jacky-Smith-Resume-Project-Manager.pdf,"{'Data analytics': 60, 'Project management': 3...",17
5,Smith_Resume.pdf,"{'Data analytics': 70, 'Project management': 4...",17
6,thomasfrank.pdf,"{'Data analytics': 73, 'Project management': 4...",17
7,Xinni_Chng.pdf,"{'Data analytics': 76, 'Project management': 4...",17

In [56]:
Dict1 = pd.DataFrame (Dict)
Dict1

                                               Score
1  {'Data analytics': 39, 'Project management': 2...
2  {'Data analytics': 47, 'Project management': 2...
3  {'Data analytics': 58, 'Project management': 3...
4  {'Data analytics': 60, 'Project management': 3...
5  {'Data analytics': 70, 'Project management': 4...
6  {'Data analytics': 73, 'Project management': 4...
7  {'Data analytics': 76, 'Project management': 4...

In [75]:
column= Dict[1].keys()
column

dict_keys(['Data analytics', 'Project management', 'Supply chain', 'Operations management', 'Quality/Six Sigma', 'Healthcare'])

In [104]:
a1=[]
for i in Dict.index:
    a1.append(sum(list(Dict[i].values())))

In [105]:
print (a1)

[78, 92, 116, 130, 151, 161, 168]

In [112]:
t_data['Sum']= a1

In [113]:
t_data

,File Name,Score,word_count,Sum
1,Alice_Clark_CV.pdf,"{'Data analytics': 39, 'Project management': 2...",17,78
2,AshlyLauResume.pdf,"{'Data analytics': 47, 'Project management': 2...",17,92
3,bhattres.pdf,"{'Data analytics': 58, 'Project management': 3...",17,116
4,Jacky-Smith-Resume-Project-Manager.pdf,"{'Data analytics': 60, 'Project management': 3...",17,130
5,Smith_Resume.pdf,"{'Data analytics': 70, 'Project management': 4...",17,151
6,thomasfrank.pdf,"{'Data analytics': 73, 'Project management': 4...",17,161
7,Xinni_Chng.pdf,"{'Data analytics': 76, 'Project management': 4...",17,168

In [71]:
Dict= t_data.Score
ADict= Dict.values
ADict

array([{'Data analytics': 39, 'Project management': 21, 'Supply chain': 10, 'Operations management': 5, 'Quality/Six Sigma': 3, 'Healthcare': 0},
       {'Data analytics': 47, 'Project management': 24, 'Supply chain': 12, 'Operations management': 5, 'Quality/Six Sigma': 4, 'Healthcare': 0},
       {'Data analytics': 58, 'Project management': 30, 'Supply chain': 16, 'Operations management': 7, 'Quality/Six Sigma': 5, 'Healthcare': 0},
       {'Data analytics': 60, 'Project management': 38, 'Supply chain': 18, 'Operations management': 8, 'Quality/Six Sigma': 6, 'Healthcare': 0},
       {'Data analytics': 70, 'Project management': 43, 'Supply chain': 22, 'Operations management': 9, 'Quality/Six Sigma': 7, 'Healthcare': 0},
       {'Data analytics': 73, 'Project management': 47, 'Supply chain': 22, 'Operations management': 11, 'Quality/Six Sigma': 8, 'Healthcare': 0},
       {'Data analytics': 76, 'Project management': 49, 'Supply chain': 22, 'Operations management': 12, 'Quality/Six Sigma': 9, 'Healthcare': 0}],
      dtype=object)

In [61]:
np_array = Dict.to_numpy()
display(np_array)

array([{'Data analytics': 39, 'Project management': 21, 'Supply chain': 10, 'Operations management': 5, 'Quality/Six Sigma': 3, 'Healthcare': 0},
       {'Data analytics': 47, 'Project management': 24, 'Supply chain': 12, 'Operations management': 5, 'Quality/Six Sigma': 4, 'Healthcare': 0},
       {'Data analytics': 58, 'Project management': 30, 'Supply chain': 16, 'Operations management': 7, 'Quality/Six Sigma': 5, 'Healthcare': 0},
       {'Data analytics': 60, 'Project management': 38, 'Supply chain': 18, 'Operations management': 8, 'Quality/Six Sigma': 6, 'Healthcare': 0},
       {'Data analytics': 70, 'Project management': 43, 'Supply chain': 22, 'Operations management': 9, 'Quality/Six Sigma': 7, 'Healthcare': 0},
       {'Data analytics': 73, 'Project management': 47, 'Supply chain': 22, 'Operations management': 11, 'Quality/Six Sigma': 8, 'Healthcare': 0},
       {'Data analytics': 76, 'Project management': 49, 'Supply chain': 22, 'Operations management': 12, 'Quality/Six Sigma': 9, 'Healthcare': 0}],
      dtype=object)

In [62]:
Dict[['Data analytics', 'Project management', 'Supply chain', 'Operations management', 'Quality/Six Sigma', 'Healthcare']].to_numpy()

KeyError: "None of [Index(['Data analytics', 'Project management', 'Supply chain',\n       'Operations management', 'Quality/Six Sigma', 'Healthcare'],\n      dtype='object')] are in the [index]"